@font-face {
	font-family: "Flaticon";
	src: url("../font/flaticon.eot");
	src: url("../font/flaticon.eot#iefix") format("embedded-opentype"),
	url("../font/flaticon.woff") format("woff"),
	url("../font/flaticon.ttf") format("truetype"),
	url("../font/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
}.flaticon-arrow133:before {
	content: "\e000";
}
.flaticon-black302:before {
	content: "\e001";
}
.flaticon-clock61:before {
	content: "\e002";
}
.flaticon-lock39:before {
	content: "\e003";
}
.flaticon-magnifying40:before {
	content: "\e004";
}
.flaticon-map58:before {
	content: "\e005";
}
.flaticon-user7:before {
	content: "\e006";
}
