.row {
    margin: 0 auto;
    max-width: 62.5rem;
    text-align: left !important;
    width: 100%;
}
.column.large-centered, .columns.large-centered {

	text-align: center !important; 
}
.submit input {
    background: none repeat scroll 0 0 #3F3F3F;
    border: medium none;
    color: #FFFFFF;
    padding: 6px 20px;
    border-radius: 2;
}
.input.date.required > select {
    width: 30%;
}
.message,#flashMessage {
    background: none repeat scroll 0 0 #3F3F3F;
    color: #FFFFFF;
    left: 0;
    padding: 10px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}