  /** GLOBAL STYLE FOR USER VIEW **/

@import url("../font/fonts.css");

html, body {
	height: 100%;
	min-height: 100%;
	font-family: 'proxima_nova_rgregular';
    letter-spacing: 0.5px;
}

ul {
	list-style: none;
}

.no-pad-right {
    padding-right: 0;
}
.no-pad-left{
    padding-left: 0;
}

.no-pad-both {
padding-right: 0;
padding-left: 0;
}

.mobile-view {
    display: none;
}

.desktop-view {
    display: block;
}

#main-wrapper {
    background: none repeat scroll 0 0 #ecf0f1;
    min-height: 100%;
    padding-bottom: 100px;
}

#header-container {
	min-height: 250px;
	padding-top: 40px;
}

#logo-container {
	text-align: center;
}

#searchbar-container {
    margin-top: 66px;
}

#search-field {
    border-bottom: 5px solid #2980B9;
    height: 65px;
}

#mainsearch-field {
	font-family: 'proxima_novalight';
    border: 0 none;
    box-shadow: none;
    color: #333333;
    font-size: 20pt;
    height: 60px;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 0px;
}

#location-dropdown {
    background: none repeat scroll 0 0 #3EA3E5;
    border-bottom: 5px solid #2980B9;
    height: 65px;
    transition: background 0.5s ease 0s;
}

#location-dropdown:hover {
	background: #4eafef;
}

.dropdown .selected-dropdown {
    color: #FFFFFF;
    float: left;
    font-size: 14pt;
    height: 65px;
    margin: 0;
    overflow: hidden;
    padding: 21px 12px 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}

.dropdown i {
    color: #1F85C8;
    float: none;
    font-size: 10pt;
    margin-right: 15px;
    margin-top: 22px;
    text-align: left;
    transform: rotate(270deg);
    transition: rotate 300ms ease-in 0s;
    width: auto;
}

.dropdown ul.list {
    background: none repeat scroll 0 0 #2980B9;
    border-right: 6px solid #4eafef;
    color: #FFFFFF;
    font-size: 13pt;
    margin-left: -84px;
    margin-top: -5px;
    position: absolute;
    width: 250px;
    z-index: 999;
    display: none;
}

.dropdown ul.list li {
    border-bottom: 1px solid #2679AD;
    padding: 10px;
    width: 100%;
    transition: all 100ms ease-in;
}

.dropdown ul.list li:last-child {
    border-bottom: 0px solid;
}

.dropdown ul.list li:hover {
    background: #328AC1;
}

.icon-right i {
	float: right;
}

.icon-left i {
	float: left;
}


#search-button {
    background: none repeat scroll 0 0 #2980B9;
    height: 65px;
    padding-top: 18px;
    position: relative;
    text-align: center;
}

#search-button:hover {
	background: #378ec7;
}

.btn {
    padding: 5px;
    transition: background 0.5s ease;
    cursor: pointer;
}

.solo-icon i {
	color: #fff;
	font-size: 20pt;
}

#access-section {
	max-height: 350px;
	height: 390px;
	width: 100%;
	margin-top: 100px;
    margin-bottom: 70px;
}

#register-container {
    background: none repeat scroll 0 0 #2980B9;
    margin-top: -340px;
    min-height: 100%;
}

#signin-container {
	background: #f5943d;
	margin-top: -340px;
    min-height: 100%;
}

.register-container-mobile {
    background: #2980b9;
    padding-top: 30px;
}

.signin-container-mobile {
    background: #e67e22;
    padding-top: 30px;
}


#access-section input[type="text"],#access-section input[type="password"],#access-section input[type="email"]  {
    border: 0 none;
    box-shadow: none;
    font-size: 13pt;
    height: 100%;
    padding: 10px;
}

.access-forms {
    position: relative;
    z-index: 99;
    margin-top: 121px;
}

.access-forms > .row {
	z-index: 99;
}

#register-btn {
    background: none repeat scroll 0 0 #3EA3E5;
    border-bottom: 4px solid #1E73AB;
    color: #FFFFFF;
    padding: 7px 8px;
}

#register-btn:hover {
	background: #47AFEF;
}

#register-btn:hover i {
	background: #2C7FB2;
}

#login-btn {
    background: none repeat scroll 0 0 #fbb476;
    border-bottom: 4px solid #e2832d;
    color: #FFFFFF;
    padding: 7px 8px;
}

#login-btn:hover {
	background: #FCA458;
}

#login-btn:hover i {
	background: #D67520;
}

#login-btn i {
	background: none repeat scroll 0 0 #e2832d;
}

.btn.icon-left i {
    background: none repeat scroll 0 0 #1E73AB;
    border-radius: 30px;
    margin-right: 15px;
    padding: 5px 7px;
    transition: background 0.5s ease 0s;
}

.btn.icon-left span {
    float: right;
    font-size: 14pt;
    padding-top: 3px;
}

.access-title {
    color: #FFFFFF;
    font-family: 'chunkfiveroman';
    font-size: 22pt;
    padding-bottom: 25px;
}

.or-circle {
    background: none repeat scroll 0 0 #2980B9;
    border: 7px solid #f5943d;
    border-radius: 85px;
    color: #FFFFFF;
    font-family: 'simpleton_gothicregular';
    font-size: 20pt;
    margin-left: -65px;
    margin-top: 126px;
    padding: 28px 27px;
    z-index: 99999;
}

.full-width {
	width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   padding: 0px 20px;
}

.per-ads-list {
    min-width: 300px;
    min-height: 460px;
    background: #fff;
    border-bottom: 4px solid #9e9e9e;
    margin-bottom: 20px;
    margin-left: 20px;
    display: inline-block;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.26);
}

.per-ads-list.new-ads {
    border-bottom: 4px solid #FA6464;
}

.per-ads-list.discount-ads {
    border-bottom: 4px solid #ff8010;
}

.per-ads-list.new-ads .per-ads-title, .per-ads-list.new-ads .per-ads-exerpt, .per-ads-list.new-ads .per-ads-info {
    
}

.per-ads-img {
    max-width: 300px;
    min-width: 300px;
    width: 300px;
    max-height: 300px;
    min-height: 300px;
    height: 300px;
    position: relative;
}

.per-ads-new-label {
    background: none repeat scroll 0 0 #FA6464;
    border-radius: 35px;
    color: #FFFFFF;
    margin-left: 15px;
    margin-top: 15px;
    padding: 14px 6px;
    position: absolute;
}

.per-ads-discount-label {
    background: none repeat scroll 0 0 #ff8010;
    border-radius: 35px;
    color: #FFFFFF;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
    padding: 16px 6px;
    position: absolute;
}

.per-ads-desc {
    padding: 0 10px 10px;
    text-align: left;
}

.per-ads-title {
    border-bottom: 1px solid #ededed;
    font-family: 'proxima_nova_rgregular';
    font-size: 14pt;
    letter-spacing: 0.3px;
    margin-bottom: 16px;
    margin-top: 6px;
    padding-bottom: 6px;
}

.per-ads-title a {
    color: #333333;
}

.per-ads-exerpt {
    color: #333333;
    font-family: 'proxima_novalight';
    font-size: 11pt;
    margin: 16px 0;
}

.per-ads-info {
    font-family: 'proxima_nova_rgregular';
    color: #a1a1a1;
    font-size: 10pt;
}

.per-ads-info span {
    display: block;
    margin-bottom: 6px;
}

.per-ads-price-box {
    margin-top: 23px;
    font-family: 'franchiseregular';
    text-align: right;
}

.per-ads-old-price {
    color: #A6A6A6;
    float: right;
    font-size: 13pt;
    margin-right: 10px;
    margin-top: 7px;
}

.per-ads-price {
    color: #333;
    float: right;
    font-size: 19pt;
}

.per-ads-price.per-discount-price {
    color: #FF8010;
}

#ads-list {
    text-align: center;
}

#lazy-loader-container {
    color: #48ABEB;
    font-family: 'simpleton_gothicregular';
    font-size: 55pt;
    margin: 20px auto 65px;
    padding: 10px;
    text-align: center;
    display: none;
}

.mobile-access-container {
    margin-bottom: 40px;
    margin-top: 50px;
}

#navi-top {
    height: 40px;
    background: #23313e;
}

.no-pads {
    padding: 0 !important;
}

#navi-top ul {
    margin: 0 !important;
}

#navi-top ul li {
    color: #FFFFFF;
    margin-left: 10px;
    min-width: 57px;
    padding: 5px 10px;
    text-align: center;
    transition: all 300ms ease-in;
}

#navi-top ul li.active {
    border-bottom: 4px solid #E67E22;
}

#navi-top ul li:hover {
    border-bottom: 4px solid #334454;
    cursor: pointer;
}

#search-filter { 
    min-height: 60px;
    border: 1px solid #e3e2e2;
    padding: 8px;
    background: #fff;
    margin-bottom:70px;
}

.filter-option {
    padding: 12px;
    width: auto;
    color:#6c6c6c;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-left: 10px;
    transition: all 300ms ease;
}

.filter-option:hover {
    background: #F2F2F2;
    cursor: pointer
}

.has-dropdown .flaticon-arrow208 {
    color: #BEBEBE;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 2px;
    transform: rotate(270deg);
}

.filter-option-btn {
    background: none repeat scroll 0 0 #3EA3E5;
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 10px;
    min-width: 90px;
    padding: 12px;
    text-align: center;
    width: auto;
    cursor: pointer;
}

.filter-option-btn:hover {
    background: #47AFEF
}

.filter-option-drp {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: -80px;
    margin-top: 20px;
    min-width: 200px;
    padding: 5px;
    position: absolute;
    z-index: 99;
    border: 1px solid #e3e2e2;
    display: none;
}

.filter-option-drp  ul {
    margin: 0;
}

.filter-option-drp li {
    border-bottom: 1px solid #E3E2E2;
    padding: 5px;
}

.filter-option-drp li:last-child {
    border-bottom: 0px;
}

.logo-top img {
    margin-left: 10px;
    width: 124px;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
}

/** VIEW CSS **/
.view-container { padding: 30px 0; }
.view-container .per-ads-price { float: left; }

.ads-description > p {
    padding: 15px 0;
}
.ads-user { 
      background-color: #FFFFFF;
      border: 1px solid #CCCCCC;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
      box-sizing: border-box;
      display: inline-block;
      max-width: 100%;
      padding: 4px;
      width: 100%;
}

.profile-info-row {
    display: table-row;
}
.profile-user-info {
    display: table;
    margin: 0 auto;
    width: calc(100% - 24px);
}
.profile-info-row:first-child .profile-info-name {
    border-top: medium none;
}
.profile-info-name {
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px dotted #D5E4F1;
    color: #667E99;
    display: table-cell;
    font-weight: normal;
    padding: 6px 10px 6px 4px;
    text-align: left;
    vertical-align: middle;
    width: 110px;
}
.profile-info-row:first-child .profile-info-value {
    border-top: medium none;
}
.profile-info-value {
    border-top: 1px dotted #D5E4F1;
    display: table-cell;
    padding: 6px 4px 6px 6px;
}

.ads-picture > img { width: 100%; height: auto; }
.ads-picture {
      background-color: #FFFFFF;
      border: 1px solid #CCCCCC;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
      box-sizing: border-box;
      display: inline-block;
      max-width: 100%;
      padding: 4px;
      width: 100%;
      height: 536px;
      overflow: hidden;
}
.gallery-ads { margin:0; }
.gallery-ads > li {
    display: inline-block;
    height: 79px;
    overflow: hidden;
    padding: 4px 0;
    width: 70px;
}
.per-ads-img img { 
    height: auto;
}
.per-ads-img .img-container { 
    display: block; 
    margin: auto; 
    padding: 5px; 
    overflow: hidden; 
    height: 300px; 
}
.per-ads-before-price {
    color: #848484;
    font-size: 14pt;
    margin-left: 7px;
    margin-top: -5px;
    text-decoration: line-through;
}
