#view-ads { 
	margin-top: 30px;
}

.v-right-sidebar .three-col {
    background: none repeat scroll 0 0 #575757;
    padding: 0px 17px;
}

.v-left-sidebar .three-col {
    background: none repeat scroll 0 0 #575757;
    padding: 0px 17px;
    min-height: 10px;
}

#searchbar-container {
    margin-top: 0;
}

#mainsearch-field {
    border: 0 none;
    box-shadow: none;
    color: #333333;
    font-family: 'proxima_novalight';
    font-size: 16pt;
    height: 45px;
    margin-bottom: 0;
    padding: 10px 20px;
    width: 100%;
}

#search-field {
    border-bottom: 5px solid #2980b9;
    height: 51px;
}

#location-dropdown {
	height: 51px;
}

.dropdown .selected-dropdown {
    color: #ffffff;
    float: left;
    font-size: 12pt;
    height: 51px;
    margin: 0;
    overflow: hidden;
    padding: 15px 12px 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}

.dropdown i {
    color: #1f85c8;
    float: right;
    font-size: 10pt;
    margin-right: 15px;
    margin-top: 16px;
    text-align: left;
    transform: rotate(270deg);
    transition: rotate 300ms ease-in 0s;
    width: auto;
}

#search-button {
    background: none repeat scroll 0 0 #2980b9;
    height: 51px;
    padding-top: 13px;
    position: relative;
    text-align: center;
}

.solo-icon i {
    color: #fff;
    font-size: 17pt;
}

.dropdown ul.list {
	margin-left: -104px;
}

.img-wrap-main {
	background: #E0E0E0;
	min-height: 360px;
	max-height: 360px;
	overflow: hidden;	
}

.img-ads-thumb {
    background: none repeat scroll 0 0 #575757;
    height: 360px;
    max-height: 360px;
    padding: 9px 10px;
}

.img-ads-wrap {
    margin-top: 30px;
}

.img-ads-thumb .thumb-holder {
    max-height: 342px;
    min-height: 342px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-ads-thumb .thumb-holder .per-thumb {
    margin-top: 6px;
}

.img-ads-thumb .thumb-holder .per-thumb:first-child {
	margin-top: 0px;
}

.main-ads-price {
	font-family: 'franchiseregular';
}

.title-price-box {
    margin: 20px 0;
}

.main-ads-title {
    font-size: 16pt;
    margin-top: 3px;
}

.ads-att-box {
	background: #6A6A6A;
	padding: 10px;
}

.ads-desc-box {
	background: #6A6A6A;
	padding: 10px;
	margin: 20px 0;
}

.ads-desc-box-inner {
	max-height: 200px;
	min-height: 200px;
	position: relative;
	width: 100%;
	overflow: hidden;
	color: #fff;
}

.ads-map-box {
	background: #6A6A6A;
	padding: 10px;
}

.btn-section {
	padding: 20px 0; 
}

.btn-section .button.expand {
    margin-bottom: 4px;
    background: #373737;
    color: #fff;
}

.btn-section .button.expand:last-child {
	margin-bottom: 0px;
}

.btn-section .button.expand:hover {
	background: #474747;
}

.header-txt {
	margin: 15px 0;
	font-size: 14pt;
	font-weight: bold;
	color: #fff;
}

.seller-dp {
	background: #444444;
	min-height: 150px;
}

.seller-is-online {
    background: none repeat scroll 0 0 #6a6a6a;
    color: #fff;
    padding: 8px 10px;
    text-align: center;
}

.seller-name {
    color: #fff;
    font-size: 13pt;
    font-weight: bold;
    margin: 10px 0;
}

.seller-is-online i {
    color: #878787;
    font-size: 9pt;
}

.seller-social {
	background: #444444;
	padding: 5px 0px;
	text-align: center;
	margin: 10px 0;
}

.more-btn {
    background: none repeat scroll 0 0 #373737;
    font-size: 10pt;
    font-weight: normal;
    margin-top: -6px;
    padding: 7px;
}

.seller-other-ads {
	padding: 10px;
}

.seller-other-ads-inner {
	max-height: 200px;
	min-height: 200px;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.per-seller-other-ads {
	margin-bottom: 10px;
}

.per-seller-other-ads:last-child {
	margin-bottom: 0px;
}

.other-ads-img {
	background: #6A6A6A;
	height: 100px;
}

.other-ads-view-btn {
    background: none repeat scroll 0 0 #494949;
    color: #fff;
    font-size: 10pt;
    margin: 10px 0;
    padding: 7px 5px;
    text-align: center;
    width: 100%;
}

.other-ads-title {
    color: #fff;
    font-weight: bold;
    margin: 5px 0;
}

.other-ads-pricelbl {
    color: #fff;
    font-size: 10pt;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

.other-ads-price {
    color: #fff;
    font-size: 13pt;
    font-weight: bold;
    text-align: right;
}

/*new additional css*/

.seller-ads-view {
    background: none repeat scroll 0 0 #6a6a6a;
    color: #fff;
    padding: 8px 10px;
    text-align: center;
    margin-top: 5px;
}

.view-section {
    padding-top: 45px; 
}

.seller-stats {
    background: none repeat scroll 0 0 #575757;
    padding-top: 35px;
}

.other-stats-lbl {
    color: #fff;
    font-size: 10pt;
    font-weight: bold;
    margin-top: 3px;
    text-align: left;
}

.url {
    color: #fff;
    font-size: 8pt;
    font-weight: bold;
    margin: 10px 0;
    padding-top: 25px;
}

.url-view {
    background: none repeat scroll 0 0 #6a6a6a;
    color: #fff;
    padding: 10px 10px;
    text-align: left;
    margin-top: 13px;
}

.ad-header-txt {
    margin: 15px 0;
    font-size: 10pt;
    font-weight: bold;
    color: #fff;
    padding-top: 25px;
}

.share-ads {
    background: #6A6A6A;
    height: 50px;
    width: 50px;
    float: left;
   margin-left: 10px;
}

.share-me {
    color: #fff;
    font-size: 10pt;
    font-weight: bold;
    margin-top: 6px;
    text-align: center;
}

.other-google {
    background: #6A6A6A;
    height: 150px;
    width: 260px;
    margin: auto;
    margin-top: 25px;
}

